<p><strong>ПУБЛИЧНАЯ ОФЕРТА</strong></p>
<p><strong>НА ЗАКЛЮЧЕНИЕ ДОГОВОРА</strong></p>
<p>“<u>04</u>” <u>августа</u> 2025 года,</p>
<p>Публичная оферта постоянно размещена в сети Интернет по ссылке <a
href="https://app.meetgu.ru/"><u>https://app.meetgu.ru/</u></a> содержит
все существенные условия и является предложением ИП Тен Нины Олеговны
(далее – Лицензиар) заключить Договор с любым заинтересованным
физическим или юридическим лицом, использующим Платформу <a
href="https://app.meetgu.ru/"><u>https://app.meetgu.ru/</u></a>, включая
все его поддомены, на изложенных ниже условиях.</p>
<p>Акцепт Оферты</p>
<hr />
<ol type="1">
<li><p>Акцептом Оферты в соответствии со ст. 438 ГК РФ считается:</p>
<ol type="1">
<li><p>регистрация на Платформе – при использовании функционала
Платформы, требующего регистрации;</p></li>
<li><p>посещение Платформы и просмотр материалов, размещенных на
Платформе – при использовании бесплатного функционала Платформы, не
требующего регистрации.</p></li>
</ol></li>
<li><p>Совершая действия по акцепту Оферты, Пользователь предоставляет
Лицензиару следующие заверения об обстоятельствах, имеющих значение для
заключения Договора, его исполнения или прекращения (ст. 431.2. ГК
РФ):</p></li>
</ol>
<ul>
<li><p>Пользователь обладает полной дееспособностью и законным правом
вступать в договорные отношения с Лицензиаром;</p></li>
<li><p>Пользователь ознакомился и согласен со всеми условиями Оферты и
Договора.</p></li>
</ul>
<p><strong>ДОГОВОР</strong></p>
<h2 id="термины-и-определения">Термины и определения</h2>
<p>Платформа автоматизированная программа ЭВМ и встроенная в нее база
данных</p>
<p>в виде SaaS-решения “meetGuru”, расположенная по ссылке</p>
<p><a
href="https://app.meetgu.ru"><u>https://app.meetgu.ru</u></a>,</p>
<p>правообладателем которой является Лицензиар;</p>
<p>Курс совокупность материалов, выраженных в любой объективной форме:
текстовой, аудиовизуальной, графической и т.п., а также услуг (при их
наличии), реализуемых Ученикам посредством функционала Платформы;</p>
<p>Ученик лицо, заключившее договор с Лицензиаром, использующее
Платформу с целью получения Курса на возмездной или безвозмездной
основе;</p>
<p>Спикер лицо, разместившее на Платформе Курс;</p>
<p>Пользователи Ученики, Спикеры и иные лица, использующие или
посещающие Платформу. ——————————————————————————</p>
<h2 id="предмет-договора">Предмет Договора</h2>
<ol type="1">
<li><p>Лицензиар за вознаграждение или безвозмездно (в зависимости от
выбранного Пользователем функционала Платформы):</p>
<ol type="1">
<li><p>предоставляет Спикеру доступ к Платформе на основе простой
(неисключительной) лицензии для размещения Курса в пределах функционала,
установленного Платформой;</p></li>
<li><p>предоставляет Ученику доступ к Платформе на основе простой
(неисключительной) лицензии для получения Курса в пределах функционала,
установленного Платформой;</p></li>
<li><p>заключает договоры с Учениками на предоставление Ученику
посредством Платформы платного или бесплатного Курса от своего имени и
за счет Спикера;</p></li>
<li><p>принимает платежи от Учеников за предоставление Ученику
посредством Платформы платного Курса от своего имени и за счет Спикера,
а также распоряжается полученными денежными средствами от Учеников с
целью осуществления возвратов.</p></li>
</ol></li>
<li><p>Предоставление Лицензиаром Пользователю права использования
Платформы на безвозмездной основе осуществляется на основе открытой
лицензии (1286.1. ГК РФ).</p></li>
<li><p>Пользователь вправе использовать Платформу в течение всего срока
ее работоспособности. В случае прекращения работоспособности Платформы
по причинам, не связанным с действиями Лицензиара, лицензия перестает
действовать.</p></li>
<li><p>Договор по смыслу п. 3 ст. 421 ГК РФ является смешанным и
содержит элементы лицензионного договора в отношении п. 2.1.1., 2.1.2.
Договора (ст. 1235 ГК РФ) и элементы договора комиссии в отношении п.
2.1.3., 2.1.4. Договора (ст. 990 ГК РФ). Получение Лицензиаром денежных
средств за Курс от Учеников обусловлено техническим функционалом
Платформы. Размещение Спикером платных Курсов без выполнения Лицензиаром
комиссионного поручения невозможно.</p></li>
<li><p>Лицензиар предоставляет право пользования Платформой “как есть”
(“as is”) без предоставления каких-либо гарантий и т.д. Лицензиар не
гарантирует соответствие Платформы ожиданиям Пользователя.</p></li>
</ol>
<h2 id="порядок-исполнения-договора">Порядок исполнения Договора</h2>
<p>Размещение Спикером Курса на
Платформе</p>
<hr />
<ol start="6" type="1">
<li><p>Для использования Платформы Спикеру необходимо зарегистрироваться
на Платформе.</p></li>
<li><p>Перед размещением Спикером Курса на Платформе Лицензиар проводит
проверку такого Курса на соответствие тематике Платформы. В случае
непрохождения такой проверки Лицензиар вправе отказать Спикеру в
размещении Курса на Платформе.</p></li>
<li><p>При размещении Курса на Платформе Спикер должен идентифицировать
каждый материал, являющийся объектом авторского права (аудиовизуальные,
текстовые и иные произведения) путем указания наименования и объема
такого материала.</p></li>
<li><p>Спикер вправе использовать Платформу для размещения на ней Курса
в следующих пределах:</p>
<ol type="1">
<li><p>размещать материалы Курса, выраженные в любой объективной
форме;</p></li>
<li><p>взаимодействовать с Учениками и иными Пользователями посредством
соответствующего раздела Платформы;</p></li>
<li><p>получать доступ к статистической информации (кол-во просмотренных
Учениками материалов, посещений онлайн-трансляций и т.п.);</p></li>
<li><p>осуществлять иные действия, доступные функционалом
Платформы.</p></li>
</ol></li>
</ol>
<p>Получение Учеником Курса посредством
Платформы</p>
<hr />
<ol start="10" type="1">
<li><p>Для получения Учеником Курса ему необходимо зарегистрироваться на
Платформе.</p></li>
<li><p>Ученик вправе использовать Платформу для получения Курса в
следующих пределах:</p>
<ol type="1">
<li><p>получать доступ к материалам Курса, выраженных в любой
объективной форме;</p></li>
<li><p>взаимодействовать со Спикером и иными Пользователями посредством
соответствующего раздела Платформы;</p></li>
<li><p>осуществлять иные действия, доступные функционалом
Платформы.</p></li>
</ol></li>
</ol>
<p>Использование иного функционала,
предусмотренного Платформой</p>
<hr />
<ol start="12" type="1">
<li><p>Для ознакомления с информацией и иными материалами, находящимися
в открытом доступе на Платформе, Пользователю необходимо зайти на
Платформу и выбрать соответствующий интересующий его раздел.</p></li>
<li><p>Для публикации Пользователем произведений (текстовых,
аудиовизуальных и т.п.) на Платформе, Пользователю необходимо
зарегистрироваться на Платформе.</p></li>
</ol>
<p>Выполнение Лицензиаром комиссионного
поручения</p>
<hr />
<ol start="14" type="1">
<li><p>Лицензиар выполняет комиссионное поручение Спикера на заключение
договора с Учениками на предоставление Курса и прием денежных средств от
Учеников при заключении с ними возмездного договора. Спикер
самостоятельно при размещении Курса на Платформе определяет вид договора
по предоставлению Ученику Курса – возмездный (с указанием стоимости
Курса) или безвозмездный.</p></li>
<li><p>Лицензиар ежемесячно, не позднее 5 числа месяца, следующего за
отчетным, предоставляет Спикеру отчет об исполнении комиссионного
поручения в отношении платных Курсов путем размещения информации о
количестве Учеников и полученных от них денежных средств в личном
кабинете Спикера, размещенного на Платформе. В случае, если Спикер не
предъявил Лицензиару возражения в течение 2 дней с момента размещения
Лицензиаром отчета на Платформе, то отчет считается принятым без
замечаний.</p></li>
<li><p>При исполнении Лицензиаром комиссионного поручения, Лицензиар
вправе запросить у Спикера любые документы, касающиеся предоставления
Курса Ученику. Срок предоставления таких документов составляет 1 день с
момента направления запроса Лицензиара.</p></li>
</ol>
<p>Рекламная оговорка</p>
<hr />
<ol start="17" type="1">
<li><p>Размещение Пользователем рекламы на Платформе допустимо при
наличии согласия Лицензиара. При размещении рекламы на Платформе
Пользователь в соответствии со ст. 18.1. ФЗ “О рекламе”:</p>
<ol type="1">
<li><p>осуществляет маркировку рекламы (присваивает ERID каждому
рекламному материалу, подлежащему размещению на Платформе);</p></li>
<li><p>передает данные о размещенной рекламе ОРД;</p></li>
<li><p>проставляет пометку “реклама” и данные рекламодателя.</p></li>
</ol></li>
<li><p>Размещаемая Пользователем реклама не должна нарушать прав третьих
лиц, в т.ч. интеллектуальных, должна соответствовать требованиям
законодательства, в т.ч. требованиям Федерального закона “О рекламе” от
13.03.2006 № 38-ФЗ, Федерального закона “О защите конкуренции” от
26.07.2006 № 135-ФЗ.</p></li>
<li><p>При размещении Пользователем рекламы на Платформе, Лицензиар не
проверяет такую рекламу на соответствие требованиям законодательства и
на нарушение прав третьих лиц.</p></li>
</ol>
<p>Технические требования для использования
Платформы</p>
<hr />
<ol start="20" type="1">
<li>Пользователь гарантирует, что используемая им техника, программное
обеспечение для надлежащего использования Платформы соответствуют
следующим техническим требованиям:</li>
</ol>
<ul>
<li><p>для персонального компьютера: процессор с частотой работы от
1.5ГГц, Память ОЗУ объемом не менее 4 Гб, Жесткий диск объемом не менее
128 Гб, Монитор от 10 дюймов с разрешением от 1440*900 точек (пикселей),
ОС Windows 7+ или Mac OS X от 10.7+, Браузер Google Chrome последней
версии;</p></li>
<li><p>для смартфона: операционная система Android версии 5.0 и выше, а
также ОС iOS версии 8 и выше. оперативная память от 1 гб и выше, экран
от 720×1280 и выше, Браузер Google Chrome последней версии.</p>
<ol type="1">
<li>Пользователь самостоятельно настраивает технику, интернет-соединение
и программное обеспечение персонального компьютера для надлежащей,
бесперебойной работоспособности Платформы таким образом, чтобы иметь
возможность беспрепятственно пользоваться всеми сервисами
Платформы.</li>
</ol></li>
</ul>
<p>Запреты и технические ограничения
Платформы</p>
<hr />
<ol start="2" type="1">
<li><p>Лицензиар вправе в одностороннем порядке устанавливать лимиты и
вводить иные технические ограничения по использованию
Платформы.</p></li>
<li><p>Лицензиар вправе в одностороннем порядке без предварительного
уведомления Пользователя менять, дополнять, перерабатывать,
модифицировать Платформу.</p></li>
<li><p>Пользователь не имеет права самостоятельно или с привлечением
третьих лиц:</p>
<ol type="1">
<li><p>обходить технические ограничения, установленные на
Платформе;</p></li>
<li><p>изучать технологию, декомпилировать или дизассемблировать
Платформу;</p></li>
<li><p>вскрывать технологию, эмулировать, декомпилировать,
дизассемблировать, дешифровать, и производить иные аналогичные действия
с Платформы;</p></li>
<li><p>создавать копии Платформы и ее внешнего оформления
(дизайна);</p></li>
<li><p>предоставлять третьим лицам доступ к личному кабинету Платформы и
любым материалам, доступ к которым получает Пользователь;</p></li>
<li><p>копировать (воспроизводить) в любой форме и способом входящие в
состав Платформы Правообладателя программы для ЭВМ и базы данных,
включая любые их элементы;</p></li>
<li><p>создавать программные продукты и/или сервисы с использованием
Платформы без получения предварительного разрешения Лицензиара;</p></li>
<li><p>загружать, публиковать, распространять, предоставлять доступ или
иным образом использовать любую информацию, инструменты и (или)
материалы, которые:</p></li>
</ol></li>
</ol>
<p>Платформа придерживается политики нулевой терпимости (zero tolerance) к
оскорбительному, угрожающему, дискриминационному или иному недопустимому
пользовательскому контенту. Пользователь может пожаловаться на любое
сообщение или комментарий и заблокировать другого пользователя прямо в
приложении; жалобы рассматриваются в течение 24 часов, нарушающий контент
удаляется, а нарушитель может быть исключён с Платформы. В частности,
запрещено размещать материалы, которые:</p>
<ul>
<li><p>не прошли проверку Лицензиаром (при необходимости прохождения
проверки);</p></li>
<li><p>нарушают требования действующего законодательства и права третьих
лиц (в т.ч. интеллектуальные);</p></li>
<li><p>содержат угрозы, дискредитируют, оскорбляют, порочат личную или
деловую репутацию, или нарушают конфиденциальность других Пользователей
или третьих лиц;</p></li>
<li><p>являются вульгарными или непристойными, содержат нецензурную
лексику или порнографические изображения и тексты или сцены сексуального
характера;</p></li>
<li><p>пропагандируют и (или) разжигают расовую, религиозную, этническую
ненависть или вражду, или защищают идеологию фашизма или расового
превосходства, содержат отрицательные заявления о любой стране, народе,
религии, политике, унижают национальное достоинство, в том числе по
признаку национального происхождения или политических
убеждений;</p></li>
<li><p>содержат насильственные материалы;</p></li>
<li><p>содействуют преступной деятельности или содержат советы,
инструкции или указания о совершении преступных действий (в т.ч.
информацию о мошеннических схемах);</p></li>
<li><p>содержат несогласованную с Лицензиаром рекламу;</p></li>
<li><p>содержат личные данные, изображения третьих лиц без их
предварительного согласия, за исключением случаев, предусмотренных
законодательством;</p></li>
<li><p>содержат вирусы или другие компьютерные коды, файлы или
программы, предназначенные для прерывания, уничтожения или ограничения
функциональности любого компьютерного или телекоммуникационного
оборудования или программ для несанкционированного доступа, а также
серийные номера для коммерческих программных продуктов и программ,
которые генерируют их, пароли и другие способы получения
несанкционированного доступа к платным ресурсам в Интернете, а также
размещение ссылок на такую информацию;</p></li>
<li><p>нарушают нормальную работу Платформы.</p>
<ol type="1">
<li><p>Платформа содержит материалы, охраняемые авторским правом,
товарные знаки и иные охраняемые материалы, включая, но не
ограничиваясь, тексты, фотографии, видеоматериалы, графические
изображения, музыкальные и звуковые произведения, правообладателем
которых является Лицензиар, Спикер или иное третье лицо.</p></li>
<li><p>Не допускается копирование, распространение, передача третьим
лицам, опубликование или иное использование в коммерческих целях
материалов, загруженных из Платформы, без получения письменного
разрешения. В случае получения разрешения на копирование,
распространение или опубликование материалов Платформы, охраняемых
авторским правом, такое копирование, распространение или опубликование
не допускается без уведомления о принадлежности авторского права или с
изменением или исключением имени автора и/или товарного знака.</p></li>
<li><p>При обнаружении ошибок в работе Платформы или в размещенном на
нем контенте Пользователь обязан сообщить об этом Лицензиару по адресу,
указанному в реквизитах Договора или на Платформе в службе
поддержки.</p></li>
</ol></li>
</ul>
<p>Порядок электронного взаимодействия,
ПЭП</p>
<hr />
<ol start="4" type="1">
<li><p>Обмен юридически значимыми сообщениями осуществляется по
электронной почте Лицензиара, указанной в реквизитах Договора и
электронной почте Пользователя, указанной при регистрации на
Платформе.</p></li>
<li><p>Стороны признают себя участниками электронного взаимодействия в
соответствии с действующим законодательством и соглашаются, что все
документы в электронной форме, подписанные простой электронной подписью
(ПЭП), признаются электронными документами, равнозначными документам на
бумажных носителях, подписанным собственноручной подписью. При
подписании документа ПЭП идентификация личностей Сторон производится
через адреса их электронных почтовых ящиков и пароли к ним. При этом,
адрес электронного почтового ящика будет являться открытой частью ключа
ПЭП, а пароль к нему – закрытой частью ключа ПЭП.</p></li>
<li><p>Стороны гарантируют, что третьим лицам не известны пароли от
электронных почтовых ящиков Сторон. Каждая из Сторон исключила
возможность подписания документов (в том числе ПЭП) неуполномоченными
лицами.</p></li>
<li><p>В случае, когда направленное Правообладателем сообщение попадает
в папку “Спам”, оно считается полученным Пользователем независимо от
того, прочел ли его Пользователь.</p></li>
<li><p>Сообщение, направленное электронным способом, считается
доставленным на следующий день с момента отправки сообщения.</p></li>
</ol>
<h2 id="вознаграждение-лицензиара-и-порядок-расчетов">Вознаграждение
Лицензиара и порядок расчетов</h2>
<ol start="9" type="1">
<li><p>Использование Платформы возможно на возмездной или безвозмездной
основе – в зависимости от выбранного Пользователем функционала
Платформы.</p></li>
<li><p>В случае размещения Спикером на Платформе платного Курса и
исполнения Лицензиаром комиссионного поручения Спикера, Лицензиару
причитается вознаграждения в виде процента от денежных средств,
полученных Спикером от Учеников, оплативших Курс. Причитающиеся
Лицензиару вознаграждение удерживается Лицензиаром
самостоятельно.</p></li>
<li><p>Размер вознаграждения Лицензиара указывается в личном кабинете
Спикера, размещенного на Платформе.</p></li>
<li><p>Денежные средства, полученные Лицензиаром от Ученика за Курс в
рамках исполнения комиссионного поручения, перечисляются Лицензиаром
только по запросу Спикера. При этом, зачисление указанных денежных
средств не может быть ранее 15 рабочих дней с момента окончания
исполнения обязательств перед Учениками по предоставлению Курса (при
наличии неисполненных обязательств перед Учениками за Курс денежные
средства Спикеру Лицензиаром не зачисляются).</p></li>
<li><p>Платформой для Спикера может быть установлен минимальный денежный
показатель, при котором Спикер вправе запросить у Лицензиара
причитающиеся ему денежные средства. При недостижении указанного
показателя Спикер не вправе запрашивать перечисления ему денежных
средств в течение 1 календарного года с момента реализации Курса
(исполнения обязательств по предоставлению Курса по каждому
Ученику).</p></li>
<li><p>При необходимости совершения Лицензиаром возврата Ученику
денежных средств за Курс, Лицензиар как обязанное перед Учеником лицо,
осуществляет такой возврат без дополнительного согласования со Спикером
из денежных средств Спикера, которые Лицензиар должен зачислить Спикеру
в рамках комиссионного поручения.</p></li>
<li><p>Вознаграждение Лицензиара начисляется за вычетом возвратов,
произведенных Клиентам за Курс.</p></li>
<li><p>Денежные средства, полученные Лицензиаром от Учеников за Курс и
подлежащие зачислению Спикеру не являются вознаграждением (доходом)
Лицензиара и не включается в налогооблагаемую базу (пп. 9 п. 1 ст. 251
НК РФ), за исключением вознаграждения Лицензиара, удерживаемому Спикером
самостоятельно.</p></li>
</ol>
<h2
id="ответственность-сторон-и-порядок-разрешения-споров">Ответственность
Сторон и порядок разрешения споров</h2>
<ol start="17" type="1">
<li><p>В случае нарушения Пользователем п. 3.19. Договора, Лицензиар
вправе:</p>
<ol type="1">
<li><p>расторгнуть Договор в одностороннем порядке без возврата
Пользователю полученного вознаграждения и без выплаты Пользователю
каких-либо причитающихся ему денежных средств (в т.ч. в рамках
исполнения комиссионного поручения);</p></li>
<li><p>а также требовать уплаты штрафа в размере 100 000 руб.</p></li>
</ol></li>
<li><p>Ответственность за размещенную Пользователем рекламу на Платформе
лежит на Пользователе.</p></li>
<li><p>Лицензиар вправе в любой момент удалить любую информацию и
материалы с Платформы, которые нарушают законодательство, права третьих
лиц или условия Договора.</p></li>
<li><p>Лицензиар не несет ответственность за платежные системы и иные
сервисы, подключенные Платформой, правообладателем которых является
третье лицо.</p></li>
<li><p>Спикер не вправе досрочно удалить с Платформы Курс при наличии
неисполненных обязательств перед Учениками Спикером и (или) Лицензиаром.
В противном случае Лицензиар вправе требовать уплаты Спикером штрафа в
размере 100 000 руб., а также понесенных убытков, в том числе денежных
требований Учеников, расходов на досудебное урегулирование споров и
судебных расходов.</p></li>
<li><p>Лицензиар не несет ответственность за невозможность использования
Пользователем Платформы по причинам, связанным с нарушением работы
интернет-соединения, оборудования или программного обеспечения со
стороны Пользователя, а также по любым другим причинам, возникшим по
вине Пользователя.</p></li>
<li><p>Лицензиар не несет ответственность за работоспособность Платформы
в случае возникновения ошибок за которые отвечает хостинг-провайдер, в
том числе: ошибка SSL сертификата, невозможность хостинга соединиться с
базой данных, ошибка 404, ошибка 504, и тд. В случае возникновения таких
ошибок, Пользователь обязан обратиться в техническую поддержку своего
хостинг-провайдера.</p></li>
<li><p>При любых обстоятельствах ответственность Лицензиара ограничена
500 руб. и возлагается на него исключительно при наличии в его действиях
вины.</p></li>
<li><p>Все штрафы и санкции, установленные настоящим разделом,
выплачиваются в досудебном порядке в течение 7 дней с момента
поступления соответствующего требования Стороны.</p></li>
<li><p>Договором предусмотрен обязательный досудебный порядок. Срок
ответа на претензию составляет 10 календарных дней с момента ее
получения. При недостижении соглашения спор передается на рассмотрение в
суд по месту нахождения Лицензиара.</p></li>
</ol>
<!-- -->
<ol type="1">
<li><p>Изменение и расторжение Договора</p>
<ol type="1">
<li><p>Договор вступает в силу с момента акцепта Оферты Пользователем и
действует в течение срока действия простой (неисключительной) лицензии
на использование Платформы.</p></li>
<li><p>Договор действует на территории всех стран мира и в интерактивной
сети Интернет.</p></li>
<li><p>Пользователь не вправе расторгнуть Договор в одностороннем
порядке. При отмене Спикером комиссионного поручения, Спикер должен
направить Лицензиару соответствующее уведомление и возместить Лицензиару
убытки, вызванные отменой поручения.</p></li>
</ol></li>
<li><p>Реквизиты Лицензиара</p></li>
</ol>
<p>ИП Тен Нина Олеговна</p>
<p>ИНН 332300667484</p>
<p>Email: <a href="mailto:adv@meetgu.ru"><u>adv@meetgu.ru</u></a></p>
