<p><strong>ПУБЛИЧНАЯ ОФЕРТА</strong></p>
<p><strong>НА ЗАКЛЮЧЕНИЕ ЛИЦЕНЗИОННОГО ДОГОВОРА</strong></p>
<p>“<u>04</u>” <u>августа</u> 2025 года</p>
<table style="width:97%;">
<colgroup>
<col style="width: 40%" />
<col style="width: 12%" />
<col style="width: 44%" />
</colgroup>
<thead>
<tr>
<th style="text-align: left;">Лицензиар (оферент)</th>
<th></th>
<th style="text-align: left;">Лицензиат (акцептант)</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left;">ИП Тен Нина Олеговна</td>
<td></td>
<td style="text-align: left;">лицо, акцептовавшее Оферту</td>
</tr>
</tbody>
</table>
<p>Оферта является предложением Лицензиара заключить лицензионный
договор с любым заинтересованным физическим или юридическим лицом (п. 2
ст. 437 ГК РФ). Оферта постоянно размещена в сети Интернет по ссылке <a
href="https://app.meetgu.ru/"><u>https://app.meetgu.ru/</u></a></p>
<p>Акцепт Оферты</p>
<hr />
<ol type="1">
<li><p>Акцептом Оферты в соответствии со ст. 438 ГК РФ оплата
вознаграждения Лицензиара.</p></li>
<li><p>Совершая действия по акцепту Оферты, Лицензиат гарантирует и
подтверждает, что он:</p></li>
</ol>
<ul>
<li><p>ознакомился и согласен со всеми условиями Оферты и
Договора;</p></li>
<li><p>обладает полной дееспособностью и законным правом вступать в
договорные отношения с Лицензиаром;</p></li>
<li><p>предоставил Лицензиару достоверные данные при регистрации на
Платформе.</p></li>
</ul>
<p><strong>ЛИЦЕНЗИОННЫЙ ДОГОВОР</strong></p>
<h2 id="термины-и-определения">Термины и определения</h2>
<p>Платформа автоматизированная программа ЭВМ и встроенная в нее база
данных</p>
<p>в виде SaaS-решения “meetGuru”, расположенная по ссылке</p>
<p><a
href="https://app.meetgu.ru"><u>https://app.meetgu.ru</u></a>,</p>
<p>правообладателем которой является Лицензиар;</p>
<p>Курс совокупность материалов (объектов авторского права), выраженных
в любой объективной форме: текстовой, аудиовизуальной, графической и
т.п. —————————————————————————–</p>
<h2 id="предмет-договора">Предмет Договора</h2>
<ol type="1">
<li><p>Лицензиар за вознаграждение предоставляет Лицензиату право
доступа к Курсу на основе простой (неисключительной) лицензии.</p></li>
<li><p>Лицензиат вправе использовать Курс исключительно для личного
ознакомления, без права копирования, распространения, переработки и
иного использования, не указанного в Договоре.</p></li>
<li><p>Срок предоставления простой (неисключительной) лицензии,
наименование и иные характеристики Курса указываются на Платформе.
Информация о Курсе, размещенная на Платформе является неотъемлемой
частью Договора.</p></li>
<li><p>Договор по смыслу ст. 429.4. ГК РФ является абонентским.
Предоставление доступа к Курсу осуществляется по требованию Лицензиата
(при регистрации Лицензиатом на Платформе), в случае отсутствия
требования по предоставлению Курса в течение срока действия Договора
обязательства Лицензиара являются исполненными несмотря на
неознакомление Лицензиатом с Курсом.</p></li>
<li><p>Обязательство Лицензиара по предоставлению Лицензиату доступа к
Курсу на основе простой (неисключительной) лицензии считается
исполненным в момент фактического предоставления доступа.</p></li>
<li><p>Лицензиар вправе по своему усмотрению привлекать к исполнению
Договора третьих лиц.</p></li>
</ol>
<h2 id="порядок-исполнения-договора">Порядок исполнения Договора</h2>
<p>Основные положения</p>
<hr />
<ol start="7" type="1">
<li><p>Лицензиат должен самостоятельно настроить технику и
Интернет-соединение для получения доступа к Курсу.</p></li>
<li><p>При получении Лицензиатом доступа к Курсу, Лицензиат должен
следовать правилам Платформы.</p></li>
<li><p>На Платформе указывается порядок предоставления доступа к Курсу –
одномоментно или поэтапно.</p></li>
<li><p>Лицензиар в период действия Договора вправе осуществлять
действия, направленные на создание обновлений, модификаций,
усовершенствований Курсов. Также Лицензиар имеет право приостанавливать
работу Платформы при обнаружении существенных неисправностей, ошибок и
сбоев, а также в целях проведения профилактических работ и
предотвращения случаев несанкционированного доступа к ним в любое время
по собственному усмотрению или во время возникновения такой
необходимости. Указанные случаи отсутствия у Лицензиата доступа к Курсу
не являются неисполнением Лицензиаром обязательств по Договору.</p></li>
<li><p>Лицензиар не предоставляет каких-либо гарантий соответствия Курса
ожиданиям и представлениям Лицензиата. Лицензиар не гарантирует
воспроизведение Материалов на мобильных устройствах.</p></li>
<li><p>В случае, если в состав Курса входит оказание услуг
(предоставление обратной связи, проведение онлайн-трансляций, вебинаров
и т.д.), то такие услуги являются сопутствующими и оказываются
Лицензиаром безвозмездно, а также не подлежат оценке.</p></li>
<li><p>На правоотношения Сторон не распространяются положения Закона РФ
от 07.02.1992 № 2300-1 “О защите прав потребителей” в связи с тем, что
Лицензиату не оказываются услуги, не выполняются работы и не передается
товар, как это указано в законе. Лицензиар не осуществляет никаких
активных действий, как это указано в ст. 779 ГК РФ, а при оказании
услуг, такие услуги не подлежат оценке (оказываются
безвозмездно).</p></li>
</ol>
<p>Порядок электронного взаимодействия,
ПЭП</p>
<hr />
<ol start="14" type="1">
<li><p>Обмен юридически значимыми сообщениями осуществляется по
электронной почте Лицензиара, указанной в реквизитах Договора и
электронной почте Пользователя, указанной при регистрации на
Платформе.</p></li>
<li><p>Стороны признают себя участниками электронного взаимодействия в
соответствии с действующим законодательством и соглашаются, что все
документы в электронной форме, подписанные простой электронной подписью
(ПЭП), признаются электронными документами, равнозначными документам на
бумажных носителях, подписанным собственноручной подписью. При
подписании документа ПЭП идентификация личностей Сторон производится
через адреса их электронных почтовых ящиков и пароли к ним. При этом,
адрес электронного почтового ящика будет являться открытой частью ключа
ПЭП, а пароль к нему – закрытой частью ключа ПЭП.</p></li>
<li><p>Стороны гарантируют, что третьим лицам не известны пароли от
электронных почтовых ящиков Сторон. Каждая из Сторон исключила
возможность подписания документов (в том числе ПЭП) неуполномоченными
лицами.</p></li>
<li><p>В случае, когда направленное Правообладателем сообщение попадает
в папку “Спам”, оно считается полученным Пользователем независимо от
того, прочел ли его Пользователь.</p></li>
<li><p>Сообщение, направленное электронным способом, считается
доставленным на следующий день с момента отправки сообщения.</p></li>
</ol>
<h2 id="вознаграждение-лицензиара-и-порядок-расчетов">Вознаграждение
Лицензиара и порядок расчетов</h2>
<ol start="19" type="1">
<li><p>Размер вознаграждения Лицензиара указан на Платформе (НДС не
облагается). Вознаграждение Лицензиара выплачивается Лицензиатом в
порядке предоплаты в размере 100 %.</p></li>
<li><p>Обязанность Лицензиата по оплате вознаграждения считается
исполненной в момент зачисления всей суммы вознаграждения на расчетный
счет Лицензиара.</p></li>
</ol>
<h2
id="ответственность-сторон-и-порядок-разрешения-споров">Ответственность
Сторон и порядок разрешения споров</h2>
<ol start="21" type="1">
<li><p>В случае использования Лицензиатом Курса в объеме и способами, не
указанными в Договоре, Лицензиар вправе требовать уплаты штрафа в
размере 100 000 руб.</p></li>
<li><p>В случае некорректного поведения Лицензиата на Платформе в
отношении любых лиц (размещение информации негативного характера;
использование нецензурных выражений; оскорбление и дискредитация любых
лиц по любому признаку; размещение файлов, изображений, ссылок и т. п.,
содержащих нецензурный, оскорбительный контент; публикация рекламного
контента) Лицензиар вправе в одностороннем порядке прервать доступ к
Курсу без уведомления Лицензиата.</p></li>
<li><p>Платформа придерживается политики НУЛЕВОЙ ТЕРПИМОСТИ к
оскорбительному, угрожающему, дискриминационному или иному недопустимому
пользовательскому контенту и поведению. Каждый пользователь может
пожаловаться на любое сообщение или комментарий и заблокировать другого
пользователя непосредственно в приложении. Жалобы рассматриваются в
течение 24 часов; нарушающий контент удаляется, а нарушивший пользователь
может быть исключён с Платформы без предупреждения и без возврата
уплаченных средств.</p></li>
<li><p>В случае нарушения Лицензиатом Договора, возврат уплаченных им
денежных средств в качестве вознаграждения Лицензиара не осуществляется,
т.к. они засчитываются в качестве штрафа за нарушение Договора.</p></li>
<li><p>Выплата штрафов, указанных в настоящем разделе осуществляется
Лицензиатом в досудебном порядке в течение 5 дней с момента получения
соответствующего требования от Лицензиара.</p></li>
<li><p>Договором предусмотрен обязательный досудебный порядок. Срок
ответа на претензию составляет 10 календарных дней с момента ее
получения. При недостижении соглашения спор передается на рассмотрение в
суд по месту нахождения Лицензиара.</p></li>
</ol>
<!-- -->
<ol type="1">
<li><p>Изменение и расторжение Договора</p>
<ol type="1">
<li><p>Договор вступает в силу с момента акцепта Оферты Лицензиатом и
действует до полного исполнения Сторонами принятых на себя
обязательств.</p></li>
<li><p>Договор действует на территории всех стран мира и в интерактивной
сети Интернет.</p></li>
<li><p>Лицензиат не вправе расторгнуть Договор в одностороннем порядке в
части предоставления доступа к Курсу на основе (простой)
неисключительной лицензии. Лицензиат вправе расторгнуть Договор
исключительно в части безвозмездного оказания Лицензиаром услуг путем
направления Лицензиару соответствующего требования.</p></li>
</ol></li>
<li><p>Реквизиты Лицензиара</p></li>
</ol>
<p>ИП Тен Нина Олеговна</p>
<p>ИНН 332300667484</p>
<p>mail: <a href="mailto:adv@meetgu.ru"><u>adv@meetgu.ru</u></a></p>
