<h2 class="unnumbered"
id="политика-в-отношении-обработки-персональных-данных"><strong>ПОЛИТИКА
В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</strong></h2>
<p><mark>“<u>04</u>” <u>августа</u> 2025, г.</mark></p>
<h2 id="общие-положения">Общие положения</h2>
<ol type="1">
<li><p>Настоящая Политика обработки персональных данных (далее —
Политика) издана и применяется ИП Тен Ниной Олеговной (далее — Оператор)
в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ “О
персональных данных” (далее - Закон) <mark>с учетом положений General
Data Protection Regulation (Regulation (EU) 2016/679) от 27 апреля 2016
года</mark> <mark>(далее — “GDPR”)</mark>.</p></li>
<li><p>Понятия, связанные с обработкой персональных данных,
использующиеся в тексте Политики, трактуются в том значении, в котором
они приведены в ст. 3 Закона и положениях GDPR, если иное прямо не
вытекает из текста Политики.</p></li>
<li><p>Все вопросы, связанные с обработкой персональных данных, не
урегулированные Политикой, разрешаются в соответствии с действующим
законодательством Российской Федерации в области персональных
данных.</p></li>
<li><p>Политика:</p>
<ol type="1">
<li><p>устанавливает правила обработки Оператором персональных данных,
предоставляемых физическими лицами, вступившими в договорные и иные
гражданско-правовые отношения с Оператором (далее – Субъект
ПД).</p></li>
<li><p>определяет цели, правовые основания, порядок и объем
обрабатываемых персональных данных;</p></li>
<li><p>содержит сведения о реализуемых требованиях к защите
обрабатываемых персональных данных;</p></li>
<li><p>определяет порядок взаимодействия с субъектами персональных
данных при поступлении от них обращений;</p></li>
<li><p>определяет способы, сроки обработки персональных данных;</p></li>
<li><p>определяет порядок уничтожения персональных данных.</p></li>
</ol></li>
<li><p>Текст Политики доступен Субъектам ПД в сети Интернет по адресу <a
href="https://app.meetgu.ru"><u>https://app.meetgu.ru</u></a> .</p></li>
<li><p>Незнание условий, установленных Политикой, не является основанием
для предъявления со стороны Субъекта ПД каких-либо претензий к
Оператору.</p></li>
<li><p>В случае несогласия с условиями Политики, Субъект ПД,
использующий Сайт должен немедленно прекратить любое использование
Сайта.</p></li>
</ol>
<!-- -->
<ol type="1">
<li>Термины и определения</li>
</ol>
<p>Субъект ПД физические лица, граждане
Российской Федерации, иностранные</p>
<p>граждане, предоставляющие Оператору свои
персональные данные;</p>
<p>Сайт совокупность информации, текстов, графических элементов,
дизайна, изображений, фото и видеоматериалов и иных результатов
интеллектуальной деятельности, а также программ для ЭВМ, содержащихся в
информационной системе, обеспечивающей доступность такой информации в
сети Интернет, по сетевым адресам (включая поддомены) <a
href="https://app.meetgu.ru"><u>https://app.meetgu.ru</u></a>;</p>
<p>Файлы cookie данные, которые автоматически передаются Оператору в
процессе использования Сайта с помощью установленного на устройстве
Субъекта ПД программного обеспечения, в том числе IP-адрес,
географическое местоположение, информация о браузере и виде операционной
системы устройства Субъекта ПД, технические характеристики оборудования
и программного обеспечения, используемые Субъектом ПД, дата и время
доступа к Сайту. —————————————————————————-</p>
<ol start="2" type="1">
<li><p>Согласие Субъекта ПД на обработку персональных данных</p>
<ol type="1">
<li><p>Субъект ПД принимает условия Политики и дает Оператору
информированное и осознанное согласие на обработку своих персональных
данных на условиях, предусмотренных Политикой и Законом:</p>
<ol type="1">
<li><p>при предоставлении Оператору Согласия в форме электронного
документа;</p></li>
<li><p>при регистрации на Сайте – для персональных данных, которые
Субъект ПД предоставляет Оператору путем заполнения формы для
регистрации, расположенной на Сайте. Субъект ПД считается предоставившим
согласие на обработку своих персональных данных в момент нажатия кнопки
“Записаться”, “Зарегистрироваться”, “Отправить”, “Перейти к оплате” или
кнопки, имеющей аналогичное название и значение;</p></li>
<li><p>при заполнении формы обратной связи – для персональных данных,
которые Субъект ПД предоставляет Оператору при заполнении формы обратной
связи в сети Интернет на Сайте и электронных сервисах. Субъект ПД
считается предоставившим согласие на обработку своих персональных
данных, внесенных в поля формы обратной связи, в момент нажатия кнопки,
подтверждающей отправку заявки (кнопки могут называться “Записаться”,
“Зарегистрироваться”, “Отправить”, “Перейти к оплате” и иным аналогичным
образом);</p></li>
<li><p>при любом использовании Сайта – для персональных данных, которые
автоматически передаются Оператору в процессе использования Сайта с
помощью установленного на устройстве Субъекта ПД программного
обеспечения. Субъект ПД считается предоставившим согласие на обработку
своих персональных данных в момент начала использования Сайта.</p></li>
</ol></li>
<li><p>Согласие Субъекта ПД на обработку Оператором его персональных
данных действует со дня, предоставления согласия на их обработку и в
течение срока, необходимого для достижения целей обработки персональных
данных, если в тексте самого Согласия не установлено иное.</p></li>
<li><p>Субъект ПД вправе отозвать согласие на обработку персональных
данных в форме и порядке, предусмотренном условиями Политики.</p></li>
<li><p>Согласие Субъекта ПД на обработку персональных данных,
разрешенных для распространения, предоставляется Субъектом ПД Оператору
отдельно от согласия на обработку персональных данных.</p></li>
<li><p>Согласие Субъекта ПД на обработку персональных данных,
разрешенных для распространения, предоставляется Субъектом ПД Оператору
путем заполнения формы такого согласия, предложенного Оператором.
Субъектом ПД при предоставлении такого согласия заполняются обязательные
поля формы, а именно: фамилия, имя, отчество (при наличии) Субъекта ПД
на русском языке, контактная информация (номер телефона, адрес
электронной почты или почтовый адрес субъекта персональных
данных).</p></li>
<li><p>Согласие Субъекта ПД на обработку персональных данных,
разрешенных для распространения, предоставляется Субъектом ПД Оператору
на срок, указанный в таком согласии.</p></li>
<li><p><mark>Оператор не обрабатывает персональные данные лиц, не
достигших возраста дееспособности. В случае, если лицо не достигло
такого возраста, оно не имеет права предоставлять свои персональные
данные и давать Согласие на их обработку Оператором.</mark> В случае
выявления недееспособности лица, предоставившего свои персональные
данные без разрешения его законного представителя, Оператор
незамедлительно блокирует обработку таких персональных данных до
выяснения обстоятельств.</p></li>
</ol></li>
<li><p>Условия предоставления персональных данных Субъектом ПД</p>
<ol type="1">
<li><p>Оператор в общем случае не проверяет достоверность персональной
информации, предоставляемой Субъектами ПД, и не осуществляет контроль за
их дееспособностью. Риск предоставления недостоверных персональных
данных, в том числе предоставление данных третьих лиц как своих
собственных при этом несет сам субъект персональных данных.</p></li>
<li><p>Оператор исходит из того, что:</p>
<ol type="1">
<li><p>субъект ПД предоставляет достоверную и достаточную персональную
информацию по вопросам, предлагаемым в формах Сайта и поддерживает эту
информацию в актуальном состоянии;</p></li>
<li><p>в случае загрузки своего изображения через Сайт - Субъект ПД на
безвозмездной основе дает согласие на использование данного изображения
(ст. 152.1 ГК РФ) в целях, не связанных с установлением личности
Субъекта ПД. Субъект ПД обязуется не предоставлять фотографии третьих
лиц в качестве изображения Субъекта ПД;</p></li>
</ol></li>
<li><p>Субъект ПД осознает, что давая согласие на распространение
разрешенных Субъектом ПД персональных данных такие данные могут быть
размещены Оператором на Сайте, где они становятся доступными для других
субъектов ПД Сайта и могут быть скопированы и распространены такими
субъектами ПД, если в согласии на распространение разрешенных
персональных данных Субъектом ПД не установлены ограничения и (или)
условия их распространения.</p></li>
<li><p>Давая настоящее согласие Субъект ПД уведомлен о праве установить
запреты на передачу (кроме предоставления доступа) этих персональных
данных Оператором неограниченному кругу лиц, а также запреты на
обработку или условия обработки (кроме получения доступа) этих
персональных данных неограниченным кругом лиц.</p></li>
<li><p>Субъект ПД ознакомлен с настоящей Политикой, выражает свое
информированное и осознанное согласие с ней.</p></li>
</ol></li>
<li><p>Персональные данные</p>
<ol type="1">
<li><p>К персональным данным Субъекта ПД, обрабатываемым Оператором
относятся: фамилия, имя, отчество; адрес электронной почты; номер
телефона.</p></li>
<li><p>Данные аккаунтов в социальных сетях и электронных сервисах
(ссылки на профили Субъекта ПД), если функция авторизации через
указанные сервисы предусмотрена на Сайте;</p></li>
<li><p>Оператор может получать доступ, собирать и использовать в
определенных Политикой целях техническую и иную информацию, связанную с
Субъектами ПД. Техническая информация не является персональными данными,
однако Оператор использует файлы cookies, которые позволяют
идентифицировать Субъектов ПД. Также под технической информацией
понимается информация, которая автоматически передается Оператору в
процессе использования Субъектом ПД Сайта с помощью установленного на
устройстве Субъекта ПД программного обеспечения, а именно:</p>
<ol type="1">
<li><p>данные об активности Субъекта ПД в сети Интернет, в частности о
посещенных страницах, дате и времени URL-переходов и пр.;</p></li>
<li><p>информация об устройстве и браузере, с помощью которых Субъект ПД
выходил в Интернет: IP-адресе и (в случае если Субъект ПД заходит на
Сайт с мобильного устройства) типе устройства и его уникальном
идентификаторе;</p></li>
<li><p>данные о взаимодействии с демонстрируемыми вне ресурса рекламными
объявлениями Оператора, их количестве, частоте и глубине
просмотра;</p></li>
<li><p>данные, о месте жительства или месте нахождения Субъекта
ПД;</p></li>
<li><p>идентификационный номер налогоплательщика - Субъекта ПД;</p></li>
<li><p>паспортные данные Субъекта ПД;</p></li>
<li><p>банковские реквизиты Субъекта ПД.</p></li>
</ol></li>
<li><p>Оператор не осуществляет обработку:</p>
<ol type="1">
<li><p>биометрических персональных данных (сведения, которые
характеризуют физиологические и биологические особенности человека, на
основании которых можно установить его личность);</p></li>
<li><p>специальных категорий персональных данных (касающихся расовой,
национальной принадлежности, политических взглядов, религиозных или
философских убеждений, состояния здоровья, интимной жизни).</p></li>
</ol></li>
<li><p>Обработка персональных данных Субъекта ПД производится Оператором
с использованием баз данных на территории Российской Федерации.</p></li>
<li><p>Персональные данные обрабатываются с использованием
автоматизированных систем.</p></li>
</ol></li>
<li><p>Правовые основания обработки персональных данных</p>
<ol type="1">
<li><p>Обработка персональных данных Субъекта ПД осуществляется на
следующих правовых основаниях:</p>
<ol type="1">
<li><p>Конституции РФ;</p></li>
<li><p>ГК РФ;</p></li>
<li><p>Федерального закона от 27.07.2006 №152-ФЗ “О персональных
данных”;</p></li>
<li><p>Согласие Субъекта ПД на обработку персональных данных;</p></li>
<li><p>Согласие Субъекта ПД на обработку персональных данных,
разрешенных для распространения (в случае его предоставления);</p></li>
<li><p><mark>General Data Protection Regulation (Regulation (EU)
2016/679) от 27 апреля 2016 года</mark> - в отношении персональных
данных граждан Европейского союза (ЕС), использующих услуги Оператора, а
также в отношении персональных данных граждан иных государств, временно
или постоянно проживающих на территории стран ЕС, использующих услуги
Оператора на территории ЕС.</p></li>
</ol></li>
</ol></li>
<li><p>Цели обработки персональных данных и категории Субъектов
ПД</p></li>
</ol>
<table style="width:99%;">
<colgroup>
<col style="width: 20%" />
<col style="width: 55%" />
<col style="width: 22%" />
</colgroup>
<thead>
<tr>
<th><p>категория</p>
<p>Субъекта ПД</p></th>
<th>Цель</th>
<th>Способы обработки ПД</th>
</tr>
</thead>
<tbody>
<tr>
<td>Пользователь Сайта</td>
<td><ul>
<li><p>Регистрация Субъекта ПД Оператором на Сайте, предоставление Субъекту ПД возможности полноценного использования сервисов Сайта;</p></li>
<li><p>модернизация Сайта Оператора путем обработки запросов и заявок от Субъектов ПД;</p></li>
</ul></td>
<td>п. 8.1.-8.7., 8.8.-8.12 Политики</td>
</tr>
<tr>
<td>физическое лицо, заключившее с Оператором договор</td>
<td><ul>
<li><p>Регистрация Субъекта ПД Оператором на Сайте, предоставление Субъекту ПД возможности полноценного использования сервисов Сайта;</p></li>
<li><p>Установление и поддержание связи между Субъектом ПД и Оператором, консультирование по вопросам исполнения
договора;</p></li>
<li><p>Заключение и исполнение договора;</p></li>
<li><p>Направление Оператором сообщений рекламного и
информационного характера на адрес электронной почты Субъекта
ПД, в том числе онлайн-мессенджеры, в которых он авторизован
посредством предоставленного номера телефона; таргетирование рекламных материалов, если Субъект ПД дал согласие на такую рассылку;</p></li>
<li><p>Улучшение качества обслуживания Субъектов ПД и модернизация Сайта Оператора путем обработки запросов и заявок от Субъектов ПД;</p></li>
<li><p>Статистические и иные исследования на основе обезличенной информации, предоставленной Субъектами ПД.</p></li>
</ul></td>
<td>п. 8.1 - 8.12. Политики</td>
</tr>
<tr>
<td><p>физическое лиц о-подрядчик/</p>
<p>исполнитель Оператора</p></td>
<td><p>Заключение и исполнение договоров.</p></td>
<td>п. 8.1. - 8.7., 8.11.- 8.12 Политики</td>
</tr>
<tr>
<td>физическое лицо, состоящее в пр еддоговорных отношениях с Оператором
- пр едполагаемый получатель услуг, подрядчик, исполнитель</td>
<td><p>Получение дополнительной информации субъектом ПД с целью заключения
договоров подряда, оказания услуг, аренды недвижимого и иного имущества,
авторского заказа, лицензионных и иных договоров, объектом которых
являются авторские права.</p></td>
<td>п. 8.1-8.12 Политики</td>
</tr>
</tbody>
</table>
<ol type="1">
<li>Субъект ПД имеет право на возражение против обработки данных в целях прямого маркетинга, включая составление профиля, в той мере, в которой это связано с прямым маркетингом. Возражение направляется Оператору Субъектом ПД в порядке п. 14 настоящей Политики.</li>
</ol>
<!-- -->
<ol start="7" type="1">
<li><p>Обработка персональных данных Субъекта ПД включает совершение
Оператором следующих действий:</p>
<ol type="1">
<li><p>сбор;</p></li>
<li><p>запись;</p></li>
<li><p>систематизация;</p></li>
<li><p>накопление;</p></li>
<li><p>хранение;</p></li>
<li><p>уточнение (обновление, изменение);</p></li>
<li><p>извлечение;</p></li>
<li><p>использование;</p></li>
<li><p>передача (распространение, предоставление, доступ);</p></li>
<li><p>обезличивание;</p></li>
<li><p>блокирование;</p></li>
<li><p>удаление, уничтожение.</p></li>
</ol></li>
<li><p>Способы обработки ПД:</p>
<ol type="1">
<li><p>Сбор персональных данных Субъекта ПД осуществляется в случаях,
указанных в п. 3.1 Политики.</p></li>
<li><p>Хранение персональных данных осуществляется (в зависимости от
того, какое событие наступит раньше):</p>
<ol type="1">
<li><p>до момента их удаления Субъектом ПД в соответствующем разделе
Сайта;</p></li>
<li><p>до момента их уничтожения Оператором - в случае поступления от
Субъекта ПД отзыва согласия на обработку персональных данных или
требования об уничтожении персональных данных;</p></li>
<li><p>до момента истечения срока действия согласия или достижения целей
обработки персональных данных.</p></li>
</ol></li>
<li><p>Оператор вправе осуществлять передачу персональных данных третьим
лицам. Такая передача не является распространением персональных данных
Субъекта ПД неопределенному кругу лиц.</p></li>
<li><p>Цели передачи персональных данных:</p>
<ol type="1">
<li><p>Оптимизация Оператором рассылки сообщений информационного и
рекламного характера. В этом случае третьему лицу передаются следующие
персональные данные Субъектов ПД: фамилия, имя, отчество; адрес
электронной почты, номер телефона.</p></li>
<li><p>Направление Субъектам ПД информационных рассылок о новых
возможностях в сфере обучения и развития. В этом случае третьему лицу
передаются следующие персональные данные Субъектов ПД: фамилия, имя,
отчество; адрес электронной почты, номер телефона. Каждая информационная
рассылка предоставляет Субъекту ПД возможность отказаться от получения
таких рассылок.</p></li>
<li><p>Исполнение условий договора перед Субъектами ПД Сайта с
привлечением третьих лиц.</p></li>
</ol></li>
<li><p>Перечень разрешенных способов обработки персональных данных:
сбор, запись, систематизация, накопление, хранение, уточнение
(обновление, изменение), извлечение, использование, передача
(распространение, предоставление, доступ), обезличивание, блокирование,
удаление, уничтожение. Третьему лицу запрещено осуществлять передачу и
распространение персональных данных.</p></li>
<li><p>Уничтожение персональных данных осуществляется Оператором в
следующих случаях:</p>
<ol type="1">
<li><p>поступление от Субъекта ПД отзыва согласия на обработку
персональных данных;</p></li>
<li><p>получение от Субъекта ПД требования об уничтожении персональных
данных;</p></li>
<li><p>истечение срока действия согласия;</p></li>
<li><p>окончания срока хранения персональных данных в соответствии с
договоренностями Оператора и Субъекта ПД.</p></li>
</ol></li>
</ol></li>
<li><p>Меры, применяемые Оператором для защиты персональных данных</p>
<ol type="1">
<li><p>Оператор принимает необходимые и достаточные правовые,
организационные и технические меры для защиты информации,
предоставляемой Субъектами ПД, от неправомерного или случайного доступа,
уничтожения, изменения, блокирования, копирования, распространения, а
также от иных неправомерных действий с ней третьих лиц. Такие действия,
в частности, включают:</p>
<ol type="1">
<li><p>назначение лица, ответственного за обработку персональных
данных;</p></li>
<li><p>применение организационных и технических мер по обеспечению
безопасности персональных данных при их обработке в информационных
системах;</p></li>
<li><p>контроль фактов несанкционированного доступа к персональным
данным и принятие мер по недопущению подобных инцидентов в
дальнейшем;</p></li>
<li><p>контроль за принимаемыми мерами по обеспечению безопасности
персональных данных и уровнем защищенности информационных систем
персональных данных.</p></li>
</ol></li>
</ol></li>
<li><p>Порядок уничтожения персональных данных</p>
<ol type="1">
<li><p>Ответственное лицо Оператора уничтожает информацию, содержащую
персональные данные Субъекта ПД в срок не позднее 10 дней с даты
обращения Субъекта ПД, истечения срока хранения, срока действия,
достижения цели обработки персональных данных либо утраты необходимости
в их достижении.</p></li>
<li><p>Уничтожение происходит одним из следующих способов:</p>
<ol type="1">
<li><p>уничтожение носителя, на котором расположена информация,
содержащая персональные данные Субъекта ПД;</p></li>
<li><p>полное форматирование информации, содержащей персональные данные
Субъекта ПД;</p></li>
<li><p>полное форматирование информации, содержащей персональные данные
Субъекта ПД, с использованием специальной вспомогательной программы в
составе Программного обеспечения Оператора (утилита).</p></li>
</ol></li>
<li><p>Составление Акта уничтожения персональных данных Субъекта ПД. В
акте указываются:</p></li>
</ol></li>
</ol>
<ul>
<li><p>дата, место и время уничтожения;</p></li>
<li><p>фамилия, инициалы членов Комиссии;</p></li>
<li><p>вид и количество уничтожаемых носителей, содержащих персональные
данные субъектов персональных данных (в случае если уничтожаются
носители);</p></li>
<li><p>основание для уничтожения;</p></li>
<li><p>способ уничтожения.</p>
<ol type="1">
<li>Факт уничтожения носителей, содержащих персональные данные Субъектов
ПД, фиксируется в журнале учета документов, переданных на уничтожение.
Данный документ является документом конфиденциального характера и вместе
с актами хранится на электронном носителе, по месту регистрации
Оператора.</li>
</ol></li>
</ul>
<ol start="11" type="1">
<li><p>Ограничение ответственности</p>
<ol type="1">
<li><p>Оператор не несет ответственности за возможное нецелевое
использование персональных данных и причинение какого-либо ущерба
Субъекту ПД, произошедшее вследствие:</p>
<ol type="1">
<li><p>технических неполадок в программном обеспечении и в технических
средствах и сетях, находящихся вне контроля Оператора;</p></li>
<li><p>в связи с намеренным или ненамеренным использованием Сайта не по
его прямому назначению третьими лицами;</p></li>
<li><p>необеспечения конфиденциальности паролей доступа или намеренной
передачи паролей доступа, иной информации с Сайта самим Субъектом ПД при
получении услуг Оператора или использовании Сайта другим лицам, не
имеющим доступа к данной информации;</p></li>
<li><p>неправомерных действий третьих лиц по доступу к данным Сайта, в
т.ч. персональным данным.</p></li>
</ol></li>
<li><p>Оператор не несет ответственность за порядок использования
Персональных данных Субъекта ПД третьими лицами, с которыми Субъект ПД
взаимодействует в рамках использования Сайта.</p></li>
<li><p>Оператор не осуществляет проверку наличия особого режима
обработки персональных данных Субъектов ПД. Если Субъект ПД является
гражданином стран Европейского союза или гражданином иных государств,
временно или постоянно проживающим на территории стран ЕС и получает
доступ к Сайту из стран Европы, Оператор предпринимает все разумные меры
для обеспечения соблюдения таких требований законодательства о защите
персональных данных. Для этого Субъект ПД обязан уведомить Оператора о
наличии особого режима защиты его персональных данных путем обращения по
адресу электронной почты Оператора.</p></li>
</ol></li>
<li><p>Права Субъектов ПД</p>
<ol type="1">
<li><p>Субъект ПД вправе:</p>
<ol type="1">
<li><p>по своему усмотрению предоставлять Оператору персональные данные
для их обработки на условиях, указанных в Политике;</p></li>
<li><p>обращаться к Оператору с требованиями, в том числе об уточнении
персональных данных; о блокировке или уничтожении персональных данных,
если такие данные являются неполными, устаревшими, недостоверными,
незаконно полученными или не являются необходимыми для заявленной цели
обработки. Требование предъявляется в порядке, предусмотренном в разделе
14 Политики;</p></li>
<li><p>на основании запроса получать от Оператора информацию, касающуюся
обработки его персональных данных и предусмотренную п. 7 ст. 14 Закона
от 27.07.2006 №152-ФЗ “О персональных данных”.</p></li>
</ol></li>
<li><p>В рамках процессов обработки персональных данных, подпадающих под
действие GDPR, Субъект ПД имеет право обращаться к Оператору с
требованием о выгрузке своих персональных данных с целью переноса их в
информационные системы других контролеров данных (в терминах п.7 ст.4
GDPR).</p></li>
</ol></li>
<li><p>Обращения Субъектов ПД</p>
<ol type="1">
<li><p>Субъект ПД вправе направлять Оператору свои запросы и требования
(далее – Обращение), в том числе относительно использования его
персональных данных, а также отзыва согласия на обработку персональных
данных и согласия на обработку персональных данных, разрешенных
субъектом персональных данных для распространения. Обращение может быть
направлено следующими способами:</p>
<ol type="1">
<li><p>В письменной форме по адресу Оператора (раздел 15
Политики);</p></li>
<li><p>В форме электронного документа (скан-, фотокопия документа).
Документ должен быть направлен с адреса электронной почты Субъекта ПД,
указанного им при регистрации на Сайте или в договоре в качестве
уполномоченного адреса электронной почты, по адресу электронной почты
Оператора.</p></li>
</ol></li>
<li><p>Направляемое Субъектом ПД Обращение, должно содержать следующую
информацию:</p>
<ol type="1">
<li><p>Фамилию и имя Субъекта ПД;</p></li>
<li><p>Сведения, подтверждающие участие Субъекта ПД в отношениях с
Оператором (в частности, логин и пароль Субъекта ПД на Сайте);</p></li>
<li><p>Суть Обращения;</p></li>
<li><p>Подпись Субъекта ПД или его законного представителя.</p></li>
</ol></li>
<li><p>Оператор рассматривает Обращение Субъекта ПД в следующем
порядке:</p>
<ol type="1">
<li><p>Обращение регистрируется в Журнале учета Обращений Субъектов
ПД;</p></li>
<li><p>Проверяется наличие всех обязательных реквизитов
Обращения;</p></li>
<li><p>Проверяется обоснованность Обращения;</p></li>
<li><p>Предоставляется ответ на Обращение.</p></li>
</ol></li>
<li><p>В зависимости от сути Обращения ответ на него должен
содержать:</p>
<ol type="1">
<li><p>запрашиваемую Субъектом ПД информацию об обрабатываемых
персональных данных;</p></li>
<li><p>мотивированный отказ в предоставлении запрашиваемой информации об
обрабатываемых персональных данных;</p></li>
<li><p>уведомление о действиях, совершаемых с персональными данными
Субъекта ПД по его Обращению</p></li>
</ol></li>
<li><p>Ответ на Обращение направляется в течении 10 дней с даты
получения Оператором Обращения в форме, соответствующей форме Обращения
Субъекта ПД, если о предоставлении Ответа на Обращение в иной форме не
указано в Обращении.</p></li>
</ol></li>
<li><p>Изменение Политики</p>
<ol type="1">
<li><p>Оператор оставляет за собой право вносить изменения в Политику.
На Субъекте ПД лежит обязанность при каждом использовании Сайта
знакомиться с текстом Политики.</p></li>
<li><p>Новая редакция Политики вступает в силу с момента ее размещения в
соответствующем разделе сайта Оператора. Продолжение пользования Сайтом
или его сервисами после публикации новой редакции Политики означает
принятие Политики и ее условий Субъектом ПД. В случае несогласия с
условиями Политики Субъект ПД должен незамедлительно прекратить
использование Сайта и его сервисов.</p></li>
</ol></li>
<li><p>Реквизиты Оператора и ответственный за обработку персональных
данных:</p></li>
</ol>
<p>ИП Тен Нина Олеговна</p>
<p>ИНН 332300667484</p>
<p>mail: <a href="mailto:adv@meetgu.ru"><u>adv@meetgu.ru</u></a></p>
<p>Ответственный за обработку персональных данных – ИП Тен Нина
Олеговна</p>
