<p>Meetguru</p>
<p class="lp-meta"><em>Редакция от 05 октября 2026 года</em></p>
<h2>Владелец Платформы:</h2>
<p>Индивидуальный предприниматель Тен Нина Олеговна</p>
<p>ИНН: 332300667484</p>
<p>ОГРНИП: 316774600113228</p>
<p>Адрес: 119192, г. Москва, Мичуринский проспект, д. 54, корп. 2, кв. 110</p>
<h2>Государственная регистрация:</h2>
<p>Индивидуальный предприниматель зарегистрирован в Едином государственном реестре индивидуальных предпринимателей.</p>
<p>Регистрирующий орган: Межрайонная инспекция Федеральной налоговой службы № 46 по г. Москве.</p>
<h2>Контакты:</h2>
<p>Email: adv@meetgu.ru</p>
<p>Сайт: https://www.meetgu.ru</p>
<p>Веб-приложение: https://app.meetgu.ru</p>
<h2>Режим работы:</h2>
<p>Платформа доступна круглосуточно, за исключением времени проведения технических и профилактических работ.</p>
<p>Обращения пользователей принимаются в электронном виде по адресу adv@meetgu.ru .</p>
