<p><strong>Согласие на обработку персональных данных</strong></p>
<p>Настоящим, оставляя свои персональные данные на сайте <a
href="https://app.meetgu.ru"><u>https://app.meetgu.ru</u></a> (далее –
Сайт) действуя свободно, своей волей и в своем интересе, а также
подтверждая свою дееспособность, даю свое согласие ИП Тен Нине Олеговне
ИНН 332300667484, адрес: Москва, Мичуринский проспект 54-2-110 (далее –
Оператор), на обработку данных в соответствии с <u>Политикой обработки
персональных данных</u>, размещенной в сети Интернет по адресу <a
href="https://app.meetgu.ru/politica"><u>app.meetgu.ru/politica</u></a> своих
персональных данных со следующими условиями:</p>
<ol type="1">
<li><p>Обработка персональных данных осуществляется Оператором с
использованием средств автоматизации.</p></li>
<li><p>Согласие дается на обработку следующих моих персональных данных
(не являющихся специальными или биометрическими):</p>
<ul>
<li><p>имя;</p></li>
<li><p>фамилия;</p></li>
<li><p>номера контактных телефонов;</p></li>
<li><p>адреса электронной почты;</p></li>
<li><p>файлы cookie (сведения о местоположении; тип и версия ОС; тип и
версия браузера; тип устройства и разрешение его экрана; источник откуда
пришел на сайт пользователь; с какого сайта или по какой рекламе; язык
ОС и браузера; какие страницы открывает и на какие кнопки нажимает
пользователь; ip-адрес).</p></li>
</ul></li>
<li><p>Цель обработки персональных данных:</p></li>
</ol>
<ul>
<li><p>обработка моих запросов Оператору с целью консультирования по
вопросам исполнения договора, заключенного с Оператором;</p></li>
<li><p>аналитика моих действий на Сайте и функционирования
Сайта;</p></li>
<li><p>проведение в мой адрес рекламных и новостных рассылок;</p></li>
<li><p>заключение и исполнение договора.</p></li>
</ul>
<ol start="4" type="1">
<li><p>Основанием для обработки персональных данных является: ст. 24
Конституции Российской Федерации; ст. 6 Федерального закона №152-ФЗ “О
персональных данных”; настоящее согласие на обработку персональных
данных, Политика обработки персональных данных Оператора.</p></li>
<li><p>В ходе обработки персональных данных Оператором будут совершены
следующие действия: сбор; запись; систематизация; накопление; хранение;
уточнение (обновление, изменение); извлечение; использование; передача
(распространение, предоставление, доступ); блокирование; удаление;
уничтожение.</p></li>
<li><p>Я уведомлен о том, что настоящее Согласие может быть отозвано
мной путем направления письменного заявления Оператору или по адресу,
указанному тексте Согласия.</p></li>
<li><p>Настоящее согласие действует в течение срока, необходимого для
достижения целей обработки персональных данных, изложенных в настоящем
согласии.</p></li>
</ol>
